@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}
<section class="content">
    <h2>
   Contact</h2>

    <h3>
        If you need to get in contact with any of the society committee members please use the details provivded below
    </h3>
    <p><strong>Chairperson:</strong></p>
    <p>Name - David  Matthews</p>
    <p>Email - <a href="mailto:X00079677@ittd.ie">X00079677@ittd.ie</a></p>
    <p><strong>Secretary:</strong></p>
  <p>Name - Robert Twyford </p>
  <p>Email - <a href="mailto:X00083035@ittd.ie">X00083035@ittd.ie</a></p>
    <p><strong>Treasurer:</strong></p>
  <p>Name - Darragh  Maguire Kane</p>
    <p>Email - <a href="mailto:X00086663@ittd.ie">X00086663@ittd.ie</a></p>
    <p><strong>Public Relations Officer:</strong></p>
  <p>Name - Sean Lynch</p>
    <p>Email - <a href="mailto:X00071239@ittd.ie">X00071239@ittd.ie</a></p>
    <p><strong>Committee  Member:</strong></p>
    <p>Name - Orlagh  Astin</p>
    <p>Email - <a href="mailto:X00091357@ittd.ie">X00091357@ittd.ie</a></p>
    <p><strong>Committee  Member:</strong></p>
    <p>Name - Joe  Neville</p>
    <p>Email - <a href="mailto:X00097751@ittd.ie">X00097751@ittd.ie</a></p>
</section>
