@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<h2>Error. Page Not Found.</h2>
<p style="font-style:italic">We don't like to point fingers...but it was most likely your fault.</p>

<img src ="../../2241323-404mario.jpg" width="100%" height="100%" />