@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}
<section class="content">
    <header>
        <h2>@ViewBag.Message</h2>
    </header>
    <h2>
        About NetSoc</h2>
    <h3>
        <br>
        What We Do</h3>
    <p>
        ITTD NetSoc is the computer society for IT Tallaght, Dublin. The society is for
        anyone interested in computer and web technolgies and who wish to learn more.</p>
    <p>
        As part of the society we allow space for members to learn from one another by posting
        tutorials on the member forums, we fun fix days where students from the college
        can get computers and laptops fixed which provides a great hand on learning experience
        for society members.</p>
    <h3>
        Servers</h3>
    <p>
        Soon the rebuilding of servers for the society will be complete and many new services
        can be run, we hope to have a sandbox server set up for members to test out any
        new technologies they wish to learn.</p>
</section>
