@model ITTNetSoc.Models.UserProfile

@{
    ViewBag.Title = "ChangeProfilePicture";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<h2>Change Profile Picture</h2>

<script>
    function loadingBar
    () {
        document.getElementById("Text").innerHTML = "Loading, please wait...";
    }
</script>


@using (Html.BeginForm("ChangeProfilePicture","UserProfile",FormMethod.Post, new Dictionary<string, object>() { { "enctype", "multipart/form-data" }, { "data-ajax", "false" }}))
{
  <input type="file" name="ProfilePicture" id="ProfilePicture" title="ProfilePicture" value="ProfilePicture" accept="image/*" required="required" title="Choose one picture" />
  <input type="hidden" id="ID" name="ID" value="@Model.Id" /> <!--Quick hack to get the value passed. -->
  <input type="submit" value="UPLOAD PICTURE!" onclick="loadingBar()" />
    
    
}

<p id="Text"> </p>