@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}
<section class="content">
<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>
</section>