@{
    ViewBag.Title = "Home Page";
}
<section class="content">
    <header>
        <h2>@ViewBag.Message</h2>
    </header>
    <p>
        This website is still under construction, if you are accessing this from a desktop
        browser,
    </p>
    <p>
        you can change your user agent to access the mobile version of the site.
        <br />
        Thank you
        <br />
        - Computer Society
    </p>
</section>