@model ITTNetSoc.Models.Album
@{
    Layout = "~/Views/Shared/M/_Layout.cshtml";
  //  Layout = "_AddAlbumLayout.cshtml";
}
<!--
<html>
@Html.BeginForm(Model){
<form action="AddPictures" item=@Model  route=@Model method="post" data-ajax="false" enctype = "multipart/form-data">
    
  <input type="file" multiple="multiple" name="AddPics" data-ajax="false" enctype = "multipart/form-data" />
  <input type="submit" />

</form>
}
</html>
-->
<script>
    function loadingBar
    () {
        document.getElementById("Text").innerHTML = "Loading, please wait...";
        
    }
</script>

<h3>@Model.Description</h3>

@using (Html.BeginForm("AddPictures","Gallery",FormMethod.Post, new Dictionary<string, object>() { { "enctype", "multipart/form-data" }, { "data-ajax", "false" }}))
{
   Html.Hidden("Title", Model.AlbumName);
  <input type="file" multiple="multiple" name="AddPics" id="AddPics" title="AddPics" value="AddPics" accept="image/*" required="required" title="Choose at least one picture" />
  <input type="hidden" id="ID" name="ID" value="@Model.Id" /> <!--Quick hack to get the value passed. -->
  <input type="submit" value="UPLOAD PICTURES!" onclick="loadingBar()" />
    
    
}

<p id="Text"> </p>

